*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.wrapper{
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 10px;
}
#header{
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    object-fit: cover;
    transform-style: preserve-3d;
    z-index: -1;
    border-radius: 10px;
    
}
.cliff{
    position: absolute;
    transform: translateZ(-20px) scale(3.3);
    height: 100%;
    width: 100%;
    z-index: -1;
}
.adv{
    align-self: flex-end;
    color: white;
    text-shadow: 2px 2px 5px orange,-2px -2px 5px black;
    font-size: 8rem;
}
.content{
  background-color: rgb(50,50,50);
  color: white;
  padding: 5rem;
}
.bg1{
    background-image: url(Project-Images/Hiking.jpg); 
}
.bg2{
    background-image: url(Project-Images/Scuba.jpg);   
}
.bg3{
    background-image: url(Project-Images/Paragliding.jpg);
}
.bg{
    position: relative;
    width: 100%;
    height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.head1{
    font-size: 4rem;
    font-family: Rubik Doodle Shadow;
    font-weight: 600;
    text-shadow: 5px 5px 5px black ;
    position: relative;
    left: 30%;
}
.head{
    font-size: 4rem;
    font-family: Rubik Doodle Shadow;
    font-weight: 600;
    text-shadow: 5px 5px 5px black ;
}
.text{
    font-size: 2rem;
    font-family: sans-serif;
    font-weight: 300;
    /* text-shadow: 5px 5px 5px indigo, -3px -3px 3px yellow ; */
}
hr{
    border: 3px solid white;
}



/* Applying Media Queries */
/* Applying Media Queries */
/* Applying Media Queries */
/* Applying Media Queries */
/* Applying Media Queries */

@media  screen and (max-width: 800px) {
    #header{
        height: 50%;
    }
    .cliff{
        transform: translateZ(-20px) scale(3.2);
        margin-top: -50%;
    }
    .adv{
        font-size: 4rem;
    }
    .content{
      padding: 2rem;
    }
    .bg{
        width: 100%;
        height: 350px;
        margin: 15px;
    }
    .head1{
        font-size: 3rem;
    }
    .head{
        font-size: 2.5rem;
    }
    .text{
        font-size: 1.5rem;
    }
    .bg3 .head{
      color: black;
      text-shadow: 2px 2px 5px #f4ae00;
    }
    hr{
        border: 0px solid white;
    }
}



@media  screen and (max-width: 450px) {
      #header{
          height: 30%;
      }
      .cliff{
          transform: translateZ(-20px) scale(3.2);
          margin-top: -150%;
      }
      .adv{
          font-size: 3rem;
      }
      .content{
        padding: 2rem;
      }
      .bg{
          width: 100%;
          height: 250px;
          background-attachment: scroll;
          margin-top: 1rem;
      }
      .head1{
          font-size: 2rem;
          left: 18%;
          padding-bottom: 1rem ;
      }
      .head{
          font-size: 2.5rem;
      }
      .text{
          font-size: 1.2rem;
      }
      .bg3 .head{
        color: black;
        text-shadow: 2px 2px 5px #f4ae00;
      }
      hr{
        border: 0px solid white;
    }
}